input, select {
    height: 4vh;
    font-size: 100%;
    outline: none;
    padding:5px;
}
input[name="description"]{
    width: 20rem;
    margin-right: 15px;
}
input[name="amount"]{
    width: 7rem;
    margin-right: 15px;
}
.btn-add{
    height: 5vh; 
    margin-left:15px;
    width: 8rem;
    font-size:100%;
}
